:root {
	--primary-color: 55, 36, 105;
	--primary-foreground: 255, 255, 255;
	--secondary-color: 246, 247, 255;
	--tertiary-color: 2, 132, 199;
	--bg-color: 49, 61, 186;

	--primary-font-family: "Poppins", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

	*,
	body,
	html {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-snap-align: center;
		font-family: var(--primary-font-family);
		scroll-behavior: smooth;
	}
}

.swiper-button-prev,
.swiper-button-next {
	right: 0 !important;
	z-index: 1000 !important;
	bottom: 50px !important;
	top: inherit !important;
	background-color: #fff;
	padding: 25px;
	border-radius: 100px;
	width: 50px;
	height: 50px;
}

.swiper-button-prev {
	right: 110px !important;
	left: inherit !important;
}

.swiper-button-next {
	right: 50px !important;
	margin: -22px 0 0 48px;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after,
.swiper-button-prev:hover,
.swiper-button-next:hover {
	background-color: rgba(var(--primary-color));
	color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	color: #000;
	font-size: 16px !important;
}

.text-border-spt {
	color: transparent;
	-webkit-text-stroke: 1px #fff;
}

.swiper-pagination-bullet {
	width: 12px !important;
	height: 12px !important;
}

.slide-toggle {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease-in-out;
}

.open-slideToggle {
    max-height: 500px;
}

.loader-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	overflow: hidden;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.rotate {
	animation: rotate 3s linear infinite;
}

body .swiper-pagination-bullet-active{
	background: rgba(var(--primary-color)) !important;
}

.swiper-pagination-bullet{
	background: #a9a8a8 !important;
}

@layer utilities {
  @keyframes dots {
    0%, 20% {
      content: "";
    }
    40% {
      content: ".";
    }
    60% {
      content: "..";
    }
    80%{
		  content: "...";				
	} 
	100% {
      content: ".....";
    }
  }

	.loading-dots{
		width: 20%;
		display: inline-block;
	}

  .loading-dots::after {
    content: "";
    animation: dots 1.1s steps(4, end) infinite;
	position: absolute;
  }
}

 .pt-4s{
	padding-top: 1rem;
  }
